@font-face{
    src: url(assets/fonts/Montserrat-Arabic-Regular.ttf);
    font-family: myFont;
}

*{
    width: 1440px;
    height: 900px;
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
}
.left{
    width: 1181px;
    height: 900px;
    margin-top: 0px;
    margin-left: 0px;
    background: #F7F8FA;
    position: relative;
}
.right{
    height: 900.0000073909723px;
    width: 259.0000150799733px;
    left: 1181.0000610351562px;
    top: 0.00030517578125px;
    border-radius: 0px;
    background: linear-gradient(180deg, #864BF2 0%, #6C56F7 100%);
    position: absolute;
    top: 0;
    
}
.topMenu{
    height: 72.00000333785965px;
    width: 1181.0000516772197px;
    left: 0px;
    top: 0.00030517578125px;
    border-radius: 0px;
    background: #FFFFFF;    
}

.search{
    height: 40.999996185302734px;
    width: 419.9999694824219px;
    left: 733.0000610351562px;
    top: 15.00030517578125px;
    border-radius: 10px;
    background: #F8F8F8;
    
}


